<div id="header">
  @Html.ActionLink("Home", "Index", "Home", null, new { @class="btn title-button btn-info fa fa-home"}) 
  @Html.ActionLink("Create an account", "Index", "Account", null, new { @class="btn title-button btn-info fa fa-user"})
  <div id="title">Recipe Box</div>
</div>