@{
  Layout = "_Layout";
}
@using RecipeBox.Models
@model RecipeBox.Models.Category

<h2>Category Details</h2>

<h3>@Html.DisplayNameFor(model => model.Name):</h3><h4>@Html.DisplayFor(model => Model.Name)</h4>

@if(Model.RecipeCategories.Count == 0)
  {
    <p>@Model.Name has no Recipes.</p>
  }
  <ul>
    @foreach (RecipeCategory recipeCategory in Model.RecipeCategories)
    {
        <li>@Html.ActionLink($"{@recipeCategory.Recipe.Name}","Details","recipes", new {id = recipeCategory.Recipe.RecipeId})</li>
        
    }
  </ul>
    


<button class="btn btn-outline-dark" onclick="window.location.href='/Categories/AddRecipe/@Model.CategoryId'">Add a Recipe</button> 
<button class="btn btn-outline-dark" onclick="window.location.href='/Categories'">Categories</button>
<button class="btn btn-outline-dark" onclick="window.location.href='/Categories/Delete/@Model.CategoryId'">Delete</button>