@{
  Layout = "_Layout";
}

<h1>Welcome to the Recipe Tracker!</h1>
<div><img id = "photo" src="https://www.acouplecooks.com/wp-content/uploads/2019/11/Recipes-Header-1-800x400.jpg"></div>
<p>@Html.ActionLink("See all Categories", "Index", "Categories")</p>
<p>@Html.ActionLink("See all Recipes", "Index", "Recipes")</p>
<p>@Html.ActionLink("See all Tags", "Index", "Tags")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>