@{
  Layout = "_Layout";
}
@using RecipeBox.Models
@model RecipeBox.Models.Tag

<h2>Tag Details</h2>

<h3>@Html.DisplayNameFor(model => model.TagName):</h3><h4>@Html.DisplayFor(model => Model.TagName)</h4>

@if(Model.RecipeTags.Count == 0)
  {
    <p>@Model.TagName has no Recipes.</p>
  }
  <ul>
    @foreach (RecipeTag recipeTag in Model.RecipeTags)
    {
        <li>@Html.ActionLink($"{@recipeTag.Recipe.Name}","Details","recipes", new {id = recipeTag.Recipe.RecipeId})</li>
        
    }
  </ul>


<button class="btn btn-outline-dark" onclick="window.location.href='/Recipes/AddCategory/@Model.TagId'">Add a Tag</button> 
<button class="btn btn-outline-dark" onclick="window.location.href='/Tags'">Tags</button>
<button class="btn btn-outline-dark" onclick="window.location.href='/Tags/Delete/@Model.TagId'">Delete</button>